.isotope-container .tmb .t-overlay-text .t-entry-excerpt p {
    color: #fff !important;
}

.isotope-container .tmb .t-overlay-text .t-entry-title {
    color: #fff !important;
}

 #mk-shallow-water-anchor-img2{
     display: none!important;
 }


@media only screen and (max-width: 569px) { 
    
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    