
@media only screen and (max-width: 569px) {

#technology-ipilot-row > .row.full-width.row-parent.loaded-split-word {
    padding: 0!important;
}

#technology-heading {
    padding: 36px;
}

#technology-text {
        padding: 30px 0px!important;
        margin-bottom: 0!important;
}

#technology-ipilot-link-row > .row.full-width.row-parent.loaded-split-word,
#technology-trolling-motors > .row.full-width.row-parent.loaded-split-word,
#technology-battery-chargers-row > .row.full-width.row-parent.loaded-split-word{
    padding:0!important;
}

#technology-text .row.full-width.row-parent {
    padding:0!important;
}
#technology-one-boat-row .background-inner {
        background-position: center!important;
        background-size: cover!important;
} 

#technology-shallow-waters-anchors-row .h2{
        width: 120%!important;
        text-align: left!important;
}
#technology-shallow-water-anchors-img .single-wrapper {
    max-width: 80%!important;
}

#technology-trolling-motors h2 {
        width: 100%!important;
}

#technology-header .background-inner {
    background-position: left center!important;
}
#technology-shallow-waters-anchors-row .h2 {
        width: 100%!important;
}

}